html{
    background-color: black;
}
#menu li{
    list-style: none;
}

.descdiv{
    font-size: 20px;
    max-width: 100%;
    word-wrap: break-word;
}
.certifdiv{
    width:80%;
}
.certifdiv:hover .arrowspan{
    font-size: 1.1em; 
}
.projectdiv:hover .arrowspan{
    font-size: 1.2em;
}
.picdiv{
    width: 30%;
}
.selfpic{
    width:70%;
    height:auto;
}
.descdiv{
    width:70%;
}
#fs-frm-inputs td {
    width: 50%; 
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #4c1d95; 
  border-radius: 3px; 
}
li a.active{
    color:#4c1d95;
}
.webdev {
    font-size: 3em;
    letter-spacing: -0.05em;
}
@media screen and (min-width: 768px) {
    .years {
        float: left; 
        width: 20%;
        margin-right: 3%;
        margin-left:2%;
    }
    
    .eduparagraph {
        overflow: hidden; 
        width:50%;
    }
}

.skill-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px; 
}
.skill {
    background-color: purple;
    color: white;
    border-radius: 20px;
    width: 20%;
    height: 10%;
}