@keyframes Color{
    0%{
      color:#7e3ce1;
    }
    
    20%{
      color:#b84fe9;
    }
    
    40%{
      color:#3b0158;
    }
    
    60%{
      color:#4c1d95;
    }
    
    80%{
      color:#b84fe9;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-moz-keyframes Color{
    0%{
      color:#7e3ce1;
    }
    
    20%{
      color:#b84fe9;
    }
    
    40%{
      color:#3b0158;
    }
    
    60%{
      color:#4c1d95;
    }
    
    80%{
      color:#b84fe9;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-webkit-keyframes Color{
    0%{
      color:#7e3ce1;
    }
    
    20%{
      color:#b84fe9;
    }
    
    40%{
      color:#3b0158;
    }
    
    60%{
      color:#4c1d95;
    }
    
    80%{
      color:#b84fe9;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  .text-anim{
    animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  }

  